.app {
  text-align: center;
  background-color: #e5e5e5;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 80px 130px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
