.app {
  text-align: center;
  background-color: #e5e5e5;
  height: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

// hack for the layout, root should be 100% height
#root {
  height: 100%;
}
